<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <ul class="list-group">
      <% @restaurants.each do |restaurant| %>
        <% @reviews = restaurant.reviews %>
        <li class="list-group-item  border-bottom d-flex justify-content-between p-3 align-items-center">
          <h2 class= "m-0"><%= link_to restaurant.name, restaurant_path(restaurant), class: "m-0" %></h2>
          <%= render "infos_short", restaurant: restaurant, reviews: @reviews %>
        </li>
      <% end %>
    </ul>
  </div>
  <hr>
</div>

